<mat-toolbar color="accent">
  <a id="title" routerLink="/">
    @if (router.url === "/") {
    {{ title }}
    } @else {
    <button mat-button>
      <mat-icon>arrow_back_ios</mat-icon>
      {{ title }}
    </button>
    }
  </a>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="3rd-party-licenses">サードパーティライセンス</a>
  </mat-menu>
</mat-toolbar>

<router-outlet />
