/* You can add global styles to this file, and also import other style files */
@import '@fontsource/yomogi';

* {
  font-family: "Yomogi", Roboto, sans-serif;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

html, body { height: 100%; }
body { margin: 0; }

main {
  width: calc(100% - 22px);
  max-width: 400px;
  margin: 0 auto;
}

main > * {
  width: 100%;
}
